
/* Format */

#main {
  transition: margin-left .5s;
}

.float-left {
  float: left;
}

.flex-card-content {
  display: flex;
  justify-content: space-evenly;
}

.maximize {
  color: white;
  width: 40px;
  height: 40px;
  background-color: black;
}

.maximize:hover {
  color: blueviolet;
  width: 40px;
  height: 40px;
  background-color: black;
  transition: 1s;
}

.padd0 {
  padding:0;
}

.button-fullscreen {
  border: none;
  height: 40px;
  width: 40px;
  background-color: black;
  font-size: 40px;
}

.button-fullscreen:hover {
  border: none;
  height: 40px;
  width: 40px;
  background-color: black;
  font-size: 40px;
}

/* wichtig für "slider" */

body,
html,
main
{
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.flex-cards {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 20%;
  margin-right: 20%;
} 


.martop {
  margin-top: 2%;
}

.padd {
  padding-top: 2%;
  padding-bottom: 2%;
}

/* Overlay */

@media screen and (max-width: 600px) {
  #overlay {
    display: none;
  }
  #welcome {
    display: none;
  }
  #fade {
    display: none;
  }
}

.ovvideo {
  min-height: 100%;
  min-width: 100%;
}

#overlay {
  position: absolute;
  background-position: center center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  cursor: pointer;
  overflow: hidden;
  min-width: 100vw;
  min-height: 100vh;
  transform: translateX(calc((100% - 100vw) / 2));
}

#welcome {
  position: absolute;
  top: 45vh;
  left: 45vw;
  font-size: 50px;
  background-color: rgb(255, 255, 255);
  border: 0;
  border-radius: .5rem;
  box-sizing: border-box;
  color: rgb(123, 8, 158);
  cursor: pointer;
  font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 60px;
  font-weight: 600;
  line-height: 28px;
  padding: 15px;
  text-align: center;
  }

/* Menubutton */

@media screen and (max-width: 600px) {
  button.menu {
    display: none;
  }
}

@media screen and (min-width: 600px) {
  button.menumob {
    display: none;
  }
}

.menumob {
  border-radius: 4px;
  background-color: #000000;
  border: 2px white solid;
  cursor: pointer;
  position: fixed;
  margin-top: 3%;
  margin-left: 3%;
  font-weight: 150%;
  color: #fff;
  padding-top: 5px;
  padding-bottom: 5px;
}

.menu {
  border-radius: 4px;
  background-color: #000000;
  border: 2px white solid;
  color: #fff;
  text-align: center;
  font-size: 60px;
  padding: 16px;
  width: 180px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 36px;
  position: fixed;
  margin-top: 3%;
  margin-left: 3%;
  font-weight: 150%;
}

.menu:after {
  content: '»';
  position: absolute;
  opacity: 0;  
  top: 14px;
  right: -20px;
  transition: 0.5s;
}

.menu:hover{
  padding-right: 24px;
  padding-left:8px;
}

.menu:hover:after {
  opacity: 1;
  right: 10px;
}

/* Sidenav */ 

.sidenav {
  height: 100%; 
  width: 0; 
  position: fixed; 
  z-index: 1; 
  top: 0; 
  left: 0;
  background-color: #111; 
  overflow-x: hidden; 
  padding-top: 60px;
  transition: 0.5s; 
}

.sidenavmob {
 height: 100%; 
 width: 0;
 position: fixed; 
 z-index: 1;
 top: 0;
 left: 0;
 background-color: #111; 
 overflow-x: hidden; 
 padding-top: 60px; 
 transition: 0.5s; 
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}  

.sidenavmob a {
 text-decoration: none;
 font-size: 25px;
 color: #818181;
 display: block;
 transition: 0.3s;
 padding-left: 40%;
 padding-top: 2%;
 padding-bottom: 2%;
} 

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenavmob a:hover {
 color: #f1f1f1;
}


.closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px !important;
  margin-left: 50px;
}

/* Animated Slides */ 

#animation1 {
  display: block;
}

#animation2 {
  display: none;
}

#animation3 {
  display: none;
}

#animation4 {
  display: none;
}

.animation {
  font-size: 150%;
  padding: 15px;
  background: transparent;
  color: beige;
  font-size: 300%;
  font-family: Courier New;
}

/* Responsive */
@media screen and (max-width: 600px) {
  .animation {
    margin-left: 25vw;
    margin-right: auto;
    margin-top: 50vh;
  }
}

@media screen and (min-width: 600px) {
  .animation {
    margin-left: 50vw;
    margin-right: auto;
    margin-top: 60vh;
  }
}

.fade {
  transition: ease-in-out 2s;
}

.fixed-bg {
  min-height: 100vh;
  background-size: cover;
  -webkit-background-size: cover !important; 
  -moz-background-size: cover !important; 
  -o-background-size: cover; 
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  overflow-x: hidden;
}

.bg-1 {
  background-image: url("img/leaf.jpg");
}

.bg-2 {
  background-image: url("img/rain.jpg");
}

.bg-3 {
  background-image: url("img/keyboard.jpg");
}

.bg-4 {
  background-image: url("img/modern.jpg");
}

.arrowdown {
  font-size: 1rem;
  position: relative;
  /* margin-top: 8vh;
  margin-left: 49vw; */
  font-size: 200%;
  color: aqua;
}

/* Responsive */
@media screen and (max-width: 600px) {
  .arrowdown {
    margin-top: -20px;
    margin-left: 42vw;
  }
}

@media screen and (min-width: 600px) {
  .arrowdown {
    margin-top: 8vh;
    margin-left: 49vw;
  }
}


/* Content */

#content {
  background: rgb(0,0,5);
  background: linear-gradient(90deg, rgba(0,0,5,1) 0%, rgba(143,25,25,1) 46%, rgba(4,213,255,1) 100%);
  background-size: 100vw;
  display: flex;
  flex-direction: column;
}

.textcontent {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(255, 255, 255);
  background-color: black;
  border-radius: 20px;
  margin-left: 20%;
  margin-right: 20%;
  padding: 2%;
}

.card-container {
  background-image: url("img\whitestripe.jpg");
  background-color: black;
  color: rgb(255, 255, 255);
  border-radius: 0px 0px 0px 20px;
  background-size: 250px 300px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.image {
  width: 250px;
  height: 300px;
}

/*Lightbox*/

/* .modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: rgb(0, 0, 0);
  float: right;
  font-size: 28px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}
 */
/* Add Animation - Zoom in the Modal */
/* .modal-content {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
} */

/* 100% Image Width on Smaller Screens */
/* @media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
} */

/* Footer */ 
#footer {
  font-size: 150%;
  color: white;
  width: 100%;
  background-color: black;
  padding-left: 75%;
  padding-right: 20%;
  padding-top: 25px;
  padding-bottom: 25px;
}

/* Backdrop Shadow angled */

.shadow-pop-tr:hover {
	-webkit-animation: shadow-pop-tr 0.5s ease-in-out both;
	        animation: shadow-pop-tr 0.5s ease-in-out both;
}

/* ----------------------------------------------
 * Generated by Animista on 2021-10-12 14:14:14
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation shadow-pop-tr
 * ----------------------------------------
 */
 @-webkit-keyframes shadow-pop-tr {
  0% {
    -webkit-box-shadow: 0 0 rgba(4,213,255,1), 0 0 rgba(4,213,255,1), 0 0 rgba(4,213,255,1), 0 0 rgba(4,213,255,1), 0 0 rgba(4,213,255,1), 0 0 rgba(4,213,255,1), 0 0 rgba(4,213,255,1), 0 0 rgba(4,213,255,1);
            box-shadow: 0 0 rgba(4,213,255,1), 0 0 rgba(4,213,255,1), 0 0 rgba(4,213,255,1), 0 0 rgba(4,213,255,1), 0 0 rgba(4,213,255,1), 0 0 rgba(4,213,255,1), 0 0 rgba(4,213,255,1), 0 0 rgba(4,213,255,1);
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
  100% {
    -webkit-box-shadow: 1px -1px rgba(4,213,255,1), 2px -2px rgba(4,213,255,1), 3px -3px rgba(4,213,255,1), 4px -4px rgba(4,213,255,1), 5px -5px rgba(4,213,255,1), 6px -6px rgba(4,213,255,1), 7px -7px rgba(4,213,255,1), 8px -8px rgba(4,213,255,1);
            box-shadow: 1px -1px rgba(4,213,255,1), 2px -2px rgba(4,213,255,1), 3px -3px rgba(4,213,255,1), 4px -4px rgba(4,213,255,1), 5px -5px rgba(4,213,255,1), 6px -6px rgba(4,213,255,1), 7px -7px rgba(4,213,255,1), 8px -8px rgba(4,213,255,1);
    -webkit-transform: translateX(-8px) translateY(8px);
            transform: translateX(-8px) translateY(8px);
  }
}
@keyframes shadow-pop-tr {
  0% {
    -webkit-box-shadow: 0 0 rgba(4,213,255,1), 0 0 rgba(4,213,255,1), 0 0 rgba(4,213,255,1), 0 0 rgba(4,213,255,1), 0 0 rgba(4,213,255,1), 0 0 rgba(4,213,255,1), 0 0 rgba(4,213,255,1), 0 0 rgba(4,213,255,1);
            box-shadow: 0 0 rgba(4,213,255,1), 0 0 rgba(4,213,255,1), 0 0 rgba(4,213,255,1), 0 0 rgba(4,213,255,1), 0 0 rgba(4,213,255,1), 0 0 rgba(4,213,255,1), 0 0 rgba(4,213,255,1), 0 0 rgba(4,213,255,1);
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
  100% {
    -webkit-box-shadow: 1px -1px rgba(4,213,255,1), 2px -2px rgba(4,213,255,1), 3px -3px rgba(4,213,255,1), 4px -4px rgba(4,213,255,1), 5px -5px rgba(4,213,255,1), 6px -6px rgba(4,213,255,1), 7px -7px rgba(4,213,255,1), 8px -8px rgba(4,213,255,1);
            box-shadow: 1px -1px rgba(4,213,255,1), 2px -2px rgba(4,213,255,1), 3px -3px rgba(4,213,255,1), 4px -4px rgba(4,213,255,1), 5px -5px rgba(4,213,255,1), 6px -6px rgba(4,213,255,1), 7px -7px rgba(4,213,255,1), 8px -8px rgba(4,213,255,1);
    -webkit-transform: translateX(-8px) translateY(8px);
            transform: translateX(-8px) translateY(8px);
  }
}
/* Slide in from left */

.slide-in-left {
	-webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2021-10-13 11:6:41
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-left
 * ----------------------------------------
 */
 @-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}


/* Text Animation */ 

.tracking-in-contract {
	-webkit-animation: tracking-in-contract 1.5s ease-in-out both;
	        animation: tracking-in-contract 1.5s ease-in-out both;
}

/* ----------------------------------------------
 * Generated by Animista on 2021-10-20 11:51:9
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-contract
 * ----------------------------------------
 */
 @-webkit-keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}
@keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2021-11-8 10:19:29
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation heartbeat
 * ----------------------------------------
 */
@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

.heartbeat {
	-webkit-animation: heartbeat 1.5s ease-in-out infinite both;
	        animation: heartbeat 1.5s ease-in-out infinite both;
}

/* ----------------------------------------------
 * Generated by Animista on 2021-11-8 10:19:29
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation heartbeat
 * ----------------------------------------
 */
 @-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}


.heartbeat {
	-webkit-animation: heartbeat 1.5s ease-in-out infinite both;
	        animation: heartbeat 1.5s ease-in-out infinite both;
}

/* ----------------------------------------------
 * Generated by Animista on 2021-11-9 12:47:3
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation heartbeat
 * ----------------------------------------
 */
 @-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
